//out: ../css/

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
span,
input,
div {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(255, 255, 255, 1);
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    margin: 0 auto;
}

.com-title {
    font-size: 44px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 51.57px;
    color: rgba(51, 51, 51, 1);
    text-align: center;
}

.com-subtitle {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 25.78px;
    color: rgba(153, 153, 153, 1);
    text-align: center;
}