//out: ../css/

.main {

    // 轮播图
    #carouselExampleIndicators {
        .carousel-indicators {
            button {
                width: 8px;
                height: 8px;
                border-radius: 50%;
            }
        }

        .carousel-control-prev,
        .carousel-control-next,
        .carousel-indicators {
            opacity: 0;
        }

        &:hover .carousel-control-prev,
        &:hover .carousel-control-next,
        &:hover .carousel-indicators {
            opacity: 1;
        }
    }

    // 课程列表
    .course-list {
        display: flex;
        justify-content: space-between;
        padding-top: 70px;
        padding-bottom: 150px;
        padding-left: 0;
        width: 1200px;
        height: 459px;

        .item-course {
            width: 282px;
            height: 239px;

            a {
                display: block;
                width: 282px;
                height: 239px;
                padding: 30px;
                border-radius: 20px;
                background-color: rgba(255, 255, 255, 1);
                text-align: center;

                img {
                    width: 120px;
                    height: 120px;
                }

                h3 {
                    font-size: 24px;
                    font-weight: 400;
                    margin-top: 20px;
                    letter-spacing: 0px;
                    line-height: 28.13px;
                    color: rgba(51, 51, 51, 1);
                }

                &:hover {
                    background: rgba(24, 66, 182, 1);
                }

                &:hover h3 {
                    color: rgba(255, 255, 255, 1);
                }
            }
        }
    }

    // 保障学员就业
    .guarantee {
        .guarantee-list {
            display: flex;
            justify-content: space-between;
            width: 1200px;
            height: 669px;
            padding-top: 60px;
            padding-bottom: 150px;

            .item-guarantee {
                width: 282px;
                height: 459px;

                img {
                    width: 282px;
                    height: 459px;
                }
            }
        }
    }

    // 线下课程
    .offline {
        padding-top: 150px;

        // 课程列表
        .class-list {
            display: flex;
            width: 1200px;
            height: 278px;
            border-bottom: 1px solid rgba(228, 231, 235, 1);

            .item-class {
                width: 300px;
                height: 278px;
                padding-top: 60px;
                text-align: center;


                img {
                    width: 120px;
                    height: 120px;
                }

                h3 {
                    font-size: 24px;
                    font-weight: 400;
                    margin-top: 30px;
                    letter-spacing: 0px;
                    line-height: 28.13px;
                    color: rgba(51, 51, 51, 1);
                }

                &.active {
                    border-bottom: 4px solid rgba(24, 66, 182, 1);
                }
            }
        }

        // 所有课程内容里列表
        .class-content-list {
            width: 1200px;
            height: 427px;

            .item-class-content {
                display: none;
                width: 1200px;
                height: 427px;

                &.active {
                    display: block;
                }

                // 单个课程内容列表
                .single-class-content-list {
                    display: flex;
                    justify-content: space-between;
                    padding-top: 50px;
                    width: 1200px;
                    height: 427px;

                    .item-single-class-content {
                        height: 100%;

                        h4 {
                            font-size: 24px;
                            font-weight: 400;
                            margin-bottom: 20px;
                            letter-spacing: 0px;
                            line-height: 28.13px;
                            color: rgba(51, 51, 51, 1);
                        }

                        &:nth-child(1) {
                            width: 270px;

                            .job-list {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                width: 270px;
                                height: 328px;

                                .item-job {
                                    width: 270px;
                                    height: 104px;
                                    padding-top: 15px;
                                    padding-left: 30px;
                                    border-radius: 12px;
                                    background: rgba(247, 249, 250, 1);

                                    h5 {
                                        font-size: 40px;
                                        font-weight: 500;
                                        letter-spacing: 0px;
                                        line-height: 46.88px;
                                        color: rgba(51, 51, 51, 1);
                                    }

                                    p {
                                        font-size: 18px;
                                        font-weight: 400;
                                        margin-top: 2px;
                                        letter-spacing: 0px;
                                        line-height: 21.1px;
                                        color: rgba(51, 51, 51, 1);
                                    }
                                }
                            }
                        }

                        &:nth-child(2) {
                            width: 311px;

                            p {
                                width: 311px;
                                height: 328px;
                                padding: 30px;
                                border-radius: 12px;
                                background: rgba(247, 251, 254, 1);
                                font-size: 17px;
                                font-weight: 400;
                                letter-spacing: 0px;
                                line-height: 28px;
                                color: rgba(51, 51, 51, 1);
                            }
                        }

                        &:nth-child(3) {
                            width: 331px;

                            .schedule-list {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                width: 100%;
                                height: 328px;
                                border-radius: 12px;
                                padding: 30px;
                                background: rgba(247, 251, 254, 1);

                                .item-schedule {
                                    font-size: 20px;
                                    font-weight: 400;
                                    letter-spacing: 0px;
                                    line-height: 23.44px;
                                    color: rgba(51, 51, 51, 1);
                                }
                            }
                        }

                        &:nth-child(4) {
                            width: 228px;

                            .info-list {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                width: 100%;
                                height: 328px;

                                .item-info {
                                    width: 100%;
                                    height: 70px;

                                    a {
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        width: 100%;
                                        height: 70px;
                                        padding: 24px;
                                        border-radius: 12px;
                                        background: rgba(255, 255, 255, 1);
                                        border: 1px solid rgba(228, 231, 235, 1);
                                        box-shadow: 0px 10px 14px 4px rgba(235, 241, 245, 0.6);

                                        h6 {
                                            font-size: 18px;
                                            font-weight: 400;
                                            letter-spacing: 0px;
                                            line-height: 21.1px;
                                            color: rgba(51, 51, 51, 1);
                                        }

                                        img {
                                            width: 24px;
                                            height: 24px;
                                        }

                                        &:hover {
                                            background: rgba(24, 66, 182, 1);
                                        }

                                        &:hover h6 {
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }

                }

            }
        }
    }

    // 教学团队
    .team {
        width: 1200px;
        padding-top: 150px;
        overflow: hidden;


        //教师列表
        .teacher-list {
            display: flex;
            width: 3954px;
            height: 411px;
            margin-top: 60px;
            margin-bottom: 60px;
            overflow: hidden;
            animation-fill-mode: both;
            animation: move 9s linear infinite;

            .item-teacher {
                width: 282px;
                height: 391px;
                margin-right: 24px;
                background: rgba(255, 255, 255, 1);
                border-radius: 20px;
                box-shadow: 0px 30px 20px rgba(223, 234, 242, 0.46), 0px 10px 20px rgba(223, 234, 242, 0.39);


                &:nth-last-child(1) {
                    margin-right: 0;
                }

                img {
                    width: 282px;
                    height: 282px;
                    border-radius: 20px 20px 0 0;
                }

                .title {
                    margin-top: 24px;
                    margin-bottom: 10px;
                    font-size: 22px;
                    font-weight: 400;
                    letter-spacing: 0px;
                    line-height: 25.78px;
                    color: rgba(51, 51, 51, 1);
                    text-align: center;
                }

                .course {
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 0px;
                    line-height: 18.75px;
                    color: rgba(102, 102, 102, 1);
                    text-align: center;
                }

                &:hover {
                    background-color: rgba(24, 66, 182, 1);
                }

                &:hover .title,
                &:hover .course {
                    color: rgba(255, 255, 255, 1);
                }
            }

            &:hover {
                animation-play-state: paused;
            }

        }

        //更多按钮
        .more {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 116px;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 0px;
            color: rgba(51, 51, 51, 1);

            span {
                font-size: 18px !important;
                color: rgba(153, 153, 153, 1);
            }

            &:hover,
            &:hover span {
                color: rgba(24, 66, 182, 1);
            }
        }
    }

    //就业概况
    .environment {
        padding-top: 150px;

        .employment {
            width: 1200px;
            height: 631px;
            margin-top: 60px;
            padding-top: 24px;
            background-image: url(../assets/uploads/bg_employment.webp);

            .title {
                font-size: 24px;
                font-weight: 400;
                letter-spacing: 0px;
                line-height: 28.13px;
                color: rgba(255, 255, 255, 1);
                text-align: center;
            }

            .job-header {
                display: flex;
                align-items: center;
                width: 100%;
                height: 55px;

                span {
                    display: inline-block;
                    flex: 1;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 0px;
                    line-height: 18.75px;
                    color: rgba(255, 255, 255, 1);



                    &:nth-child(3) {
                        flex: 3;
                    }

                    &:nth-child(4) {
                        flex: 4;
                    }

                    &:nth-child(5) {
                        flex: 2;
                    }
                }
            }

            .job-main {
                width: 100%;
                height: 459px;
                overflow: hidden;

                .job-list {
                    width: 100%;
                    height: 1101px;
                    animation: anim 12s linear infinite;

                    .item-job {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 51px;

                        span {
                            display: inline-block;
                            flex: 1;
                            text-align: center;
                            font-size: 16px;
                            font-weight: 400;
                            letter-spacing: 0px;
                            line-height: 18.75px;
                            color: rgba(255, 255, 255, 1);



                            &:nth-child(3) {
                                flex: 3;
                            }

                            &:nth-child(4) {
                                flex: 4;
                            }

                            &:nth-child(5) {
                                flex: 2;
                            }
                        }

                        &:nth-child(2n+1) {
                            background: rgba(255, 255, 255, 0.1);
                        }

                        &:nth-child(2n) {
                            background: rgba(255, 255, 255, 0.15);
                        }
                    }

                    &:hover {
                        animation-play-state: paused;
                    }
                }
            }



            .job-footer {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 64px;
                background: rgba(255, 255, 255, 0.2);
                border-top: 1px solid rgba(255, 255, 255, 0.3);


                //更多按钮
                .more {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100px;
                    font-size: 18px;
                    font-weight: 400;
                    letter-spacing: 0px;
                    color: rgba(255, 255, 255, 1);

                    span {
                        font-size: 18px !important;
                        color: rgba(255, 255, 255, 1);
                    }

                    &:hover,
                    &:hover span {
                        color: rgba(24, 66, 182, 1);
                    }
                }
            }
        }
    }

    //新闻信息
    .information {
        width: 100%;
        height: 897px;
        padding-top: 150px;

        .info-list {
            display: flex;
            justify-content: space-between;
            width: 1200px;
            height: 439px;
            margin-top: 60px;

            .item-info {
                position: relative;
                width: 386px;
                height: 439px;

                .layer1 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 386px;
                    height: 383px;
                    opacity: 0.1;
                    border-radius: 20px;
                    background: linear-gradient(91.9deg, rgba(24, 66, 182, 1) 0%, rgba(90, 136, 255, 0.73) 100%);
                }

                .layer2 {
                    position: absolute;
                    top: 14px;
                    left: 14px;
                    width: 358px;
                    height: 87px;
                    padding: 20px;
                    opacity: 1;
                    border-radius: 16px;
                    background: linear-gradient(90deg, rgba(38, 212, 140, 1) 0%, rgba(38, 212, 140, 0.59) 100%);

                    //更多按钮
                    .more {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        font-size: 24px;
                        font-weight: 500;
                        letter-spacing: 0px;
                        line-height: 28.13px;
                        color: rgba(255, 255, 255, 1);



                        span {
                            font-size: 18px !important;
                            color: rgba(255, 255, 255, 1);
                        }

                        &:hover,
                        &:hover span {
                            color: rgba(24, 66, 182, 1);
                        }
                    }
                }

                .layer3 {
                    position: absolute;
                    top: 83px;
                    left: 0;
                    width: 386px;
                    height: 356px;
                    padding: 20px;
                    opacity: 1;
                    border-radius: 20px;
                    background: rgba(255, 255, 255, 0.8);
                    border-top: 1px solid rgba(255, 255, 255, 1);
                    backdrop-filter: blur(14px);

                    .news-list {
                        width: 100%;
                        height: 100%;

                        .item-news {
                            width: 100%;
                            height: 42px;

                            a {
                                font-size: 18px;
                                font-weight: 400;
                                letter-spacing: 0px;
                                line-height: 21.1px;
                                color: rgba(51, 51, 51, 1);

                                span {
                                    margin-right: 10px;
                                    font-size: 18px;
                                    font-weight: 700;
                                    letter-spacing: 0px;
                                    line-height: 21.1px;
                                    color: rgba(24, 66, 182, 1);
                                }
                            }

                            &:nth-child(1) a span,
                            &:nth-child(2) a span,
                            &:nth-child(3) a span {
                                color: rgba(255, 69, 69, 1);
                            }
                        }
                    }
                }

                &:nth-child(1) .layer2 {
                    background: linear-gradient(90deg, rgba(24, 66, 182, 1) 0%, rgba(90, 136, 255, 0.59) 100%);
                }

                &:nth-child(2) .layer2 {
                    background: linear-gradient(90deg, rgba(97, 135, 237, 1) 0%, rgba(97, 135, 237, 0.59) 100%);
                }
            }
        }
    }
}

@keyframes move {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-2754px);
    }
}

@keyframes anim {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-612px);
    }
}